.nav-bar {
    border-bottom: 1px solid #89a;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}

nav {
    margin-top: 8px;
}

a {
    white-space: nowrap;
    margin-top: 8px;
}

a + a {
    margin-left: 10px;
}