<h1><a (click)="Nav('About')">Livethon Project Site</a></h1>
<div class="nav-bar">
  <nav class="link-set">
    <a (click)="Nav('Report')">Report</a>
    <a (click)="Nav('Team')">Team</a>
  </nav>
  <nav class="link-set">
    <a href="https://github.com/CS39X-Team-J/livethon">Code Base</a>
    <a
      href="https://docs.google.com/presentation/d/1qmYrC3zW3TkhHLshdquqBdlxiQ45SpRj5BmpwtzIuaM/edit?usp=sharing"
      >Presentation</a
    >
    <a href="https://computing.calvin.edu/">CS Department</a>
  </nav>
</div>
